// Vars
$vm-gray: darkslategray;
$vm-blue: black;//#0095D3;
$vm-green: #63A33B;
$vm-lightest-gray: #f2f2f2;
$vm-light-green: #CCFFCC;
$vm-white: white;
$vm-black: black;
$vm-beige: #F3D2B3;
$vm-brown: #D9AF63;
$vm-yellow: #FFFF99;
$vm-tan: #FFF1DD;
$vm-cornflower: #669;
$vm-title: #039;
$vm-value: #669;

// BASE STYLES
body {
  background-color: $vm-white;
  font-family: "Calibri", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  color: $vm-white;
}
h1 {
  color: $vm-white;
  margin: 0;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
  color: $vm-title;
}
h5 {
  color: $vm-title;
}
p {
}
span {
  margin-right: 10px;
  &.text-highlight {
    margin-right: 0px;
  }
}
a {
  text-decoration: none;
  color: $vm-black;
  margin-left: 10px;
}
nav {
  a {
    padding: 4px 20px;
    color: $vm-black;
    text-decoration: none;
    background-color: $vm-white;
    &:hover {
      color: $vm-white;
      background-color: $vm-black;
    }
    &:active {

    }
    &:focus {

    }
  }
}
table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  background: #fff;
  margin: auto;
  width: 96%;
  border-collapse: collapse;
  text-align: left;
  .sku {
    min-width: 180px;
  }
}
th {
  font-size: 14px;
  font-weight: normal;
  color: $vm-title;
  padding: 8px 2px;
  border-bottom: 2px solid #6678b1;
}

td {
  border-bottom: 1px solid #ccc;
  color: $vm-black;
  padding: 3px 3px;
}

tbody tr:hover td {
  color: #009;
}

form {
  margin-bottom: 20px;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  padding-left: 20px;
  width: 100%;
  height: 40px;
  background-color: $vm-white;
  color: $vm-black;
  font-size: 18px;
  border-radius: 0;
  border-color: $vm-blue;
  text-align: center;
  &:active {
    background-color: $vm-lightest-gray;
  }
  &:hover {
    background-color: $vm-lightest-gray;
  }
}
option {
  width: 100%;
  height: 100%;
}
////////////////////////////////// LAYOUT /////////////////////////////////

// Header Layout
.header-container {
  background-color: $vm-blue;
  width: 100%;
}
.header-content {
  width: 960px;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
// Main Layout
.container-fluid {
  display: block;
}
.main-container {
  width: 100%;
}
.main-content {
  width: 960px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: $vm-lightest-gray;
}
.layout-container {
  background-color: $vm-blue;
  width: 96%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 30px;
}
.flex-row-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.flex-row-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-grow: 1;
  h5 {
    flex-grow: 1;
  }
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

///////////// Component Styling ///////////////////////
.component {
  background-color: $vm-white;
  margin-left: 1%;
  margin-right: 1%;
  width: 98%;
  color: black;
}

.wrapper {
  margin-left: 1%;
  margin-right: 1%;
  width: 98%;
}
// Universal title bar can be used in any component
.title-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $vm-blue;
  color: $vm-white;
}
// Styles for the Product Filter Component
.product-filter {
  select.activated {
    background-color: $vm-yellow;
  }
  .title-bar {
    position: relative;
  }
  button {
    position: absolute;
    right: 0;
    top: 18px;
  }
}

// Styles for the Product Description Component
.product-description {
  color: $vm-black;
  width: 900px;
  margin: auto;
  min-height: 240px;
  .attribute-container {
    margin-bottom: 10px;
    padding-left: 0;
    padding-top: 15px;
    .key {
      font-weight: 600;
    }
    .value {
      color: $vm-black;
    }
    .flex-col {
      padding-left: 10px;
      padding-right: 10px;
    }
    .flex-row-left {
      padding-left: 10px;
    }
    .wrapper {
      h3 {
        font-size: 20px;
        margin-bottom: 20px;
      }
      h5 {
        margin-top: 10px;
        span {
          color: $vm-black;
        }
      }
    }
    .one {
      width: 25%;
    }
    .two {
      width: 50%
    }
    .three {
      width: 25%;
    }
    .sku_notes {
      margin-left: 10px;
      margin-top: 20px;
    }
  }
}

.related-products {
  .description {
    max-width:40px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
  }
  .description:hover {
    background-color: $vm-light-green;
    color: $vm-black;
    position: absolute;
    overflow: visible;
    white-space: pre-wrap;
    min-width: 200px;
    padding: 10px;
  }
  .sku_notes {
    max-width:40px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
  }
  .sku_notes:hover {
    background-color: $vm-gray;
    color: white;
    position: absolute;
    overflow: visible;
    white-space: pre-wrap;
    min-width: 200px;
    padding: 10px;
  }
}

// Styles for the Sku Search Component
.sku-search {
  align-self: flex-start;
  button {
    clear: both;
    float: right;
  }
  .sku-text-input {
    float:left;
    width: 98%;
  }
}

.upload {
  .left {
    margin-top: 10px;
    align-self: flex-start;
  }
  .submit {
    // margin-left: 30px;
    margin-top: 20px;
    background-color: $vm-lightest-gray;
    border-color: gray;
    border-radius: 4px;
  }
  span {
    font-size: 20px;
  }
  li {
    margin-bottom: 10px;
  }
  h3 {
    margin-bottom: 20px;
  }
}

.radio {
  margin-left: 10px;
  margin-top: 10px;
  input[type="radio"] {
    margin-right: 10px;
  }
}

div.radio {
  label {
    color: black;
  }
}

/////////////////// Other Styles ///////////////////////////
.text-highlight {
  color: $vm-blue;
}

.indent {
  margin-left: 20px;
}
